aniso8601==8.0.0
attrs==19.3.0
Click==7.0
contextlib2==0.5.5
Flask==1.1.1
Flask-Cors==3.0.8
flask-swagger-ui==3.20.9
importlib-metadata==1.4.0
itsdangerous==1.1.0
Jinja2==2.10.3
jsonschema==3.2.0
MarkupSafe==1.1.1
pyrsistent==0.15.7
pytz==2019.3
schema==0.7.1
six==1.14.0
Werkzeug==0.16.0
zipp==2.1.0
